.intro {
    position: relative;
    margin-bottom: 8rem;
}
.intro h1 {
    color:rgb(245, 149, 46);
    font-size: 1.8rem;
    margin: 0.5rem 0 0 2.5rem;
}
.intro .content {
    width: 80%;
    height: 30rem;
}
.intro .content .photo {
    margin: 1.5rem 0 0 2.5rem;
    display: inline-block;
}
.intro .content .trailer {
    width: 610px;
    height: 310px;
    margin: 0 0 0 1rem;
}
.intro .content .lstInfo {
    margin: 0.5rem 0.5rem 0 2.5rem;
}
.intro .content .lstInfo .info {
    color: rgb(248, 178, 98);
    padding-bottom: 0.2rem;
    width: 90%;
}
.intro .content .lstInfo .info span{
    color: #ffff;
    padding-left: 0.5rem;
}
.intro .content .rate {
    padding: 2.2rem 0 0 2.2rem;
}
.intro .content .rate > i {
    color: rgb(255, 174, 0);
    font-size: 2rem;
    margin-right:0.5rem;
}
.intro .content .rate>i:hover {
    opacity: 0.8;
}
.intro .content .rate:last-child {
    margin-left: 2rem;
}
.intro .content .rate > span {
    color: rgb(255, 174, 0);
    font-size: 1.5rem;
    margin: 0 0.5rem 0.5rem 0.2rem;
}

.intro .content .lstReview {
   margin-top: 3rem;
}
.intro .content .lstReview > p {
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(227, 127, 40);
    color: rgb(227, 127, 40);
    display: inline;
    padding: 1rem;
    margin-left: 2.2rem;
    font-weight: 600;
    letter-spacing: 2px;
}
.intro .content .lstReview .love {
    color: #f5813e;
    position: absolute;
    left: 54rem;
    font-size: 2rem;
}
.intro .content .lstReview .love:hover {
    cursor: pointer;
}
.intro .content .lstReview .writeReview:hover {
    cursor: pointer;
    background-color: #d06527;
    color: #000;
}
.intro .side{
    position: relative;
    width: 23%;
    top: -28rem;
    left: 59rem;
}
.intro .side .artist:first-child,
.intro .side .news .extra {
    color: #f5813e;
    font-size: 1.5rem;
    
}
.intro .side .line {
    background-color: #f5813e;
    font-size: 0.3rem;
    border-radius: 10px;
}
.intro .side .artist .nvat {
    display: inline-block;
    margin-top: 1rem;
    margin-right: 1rem;
}
.intro .side .artist .nvat img {
    width: 6.5rem;
    height: 8rem;
    border-radius: 50%;
}
.intro .side .artist .nvat > p {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
.intro .side .news {
    padding-top: 4.2rem;
}
.intro .side .news .line {
    color: #f5813e;
}
.intro .side .news .new {
    margin: 1rem 0 1rem 0;
    padding-bottom: 1rem;
    
}
.intro .side .news .new a>p {
    color: rgb(127, 162, 243);
    padding-top: 1rem;
    font-style: italic;
}
.intro .side .news .new a>p:hover {
    color: rgb(57, 84, 218);
}

.review {
    background-color: rgb(209, 208, 208);
    margin: 2.2rem;
    width: 85%;
    padding-bottom: 9rem;
    border-radius: 10px;
}
.review .ava {
    position: relative;
    display: inline-block;
    width: 50%;
}
.review .ava > img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 2.5rem;

}
.review .ava > p{
    position: absolute;
    top: 5.5rem;
    width: 33%;
    text-align: center;
    left: 0.5rem;
    font-size: 0.8rem;
}
.review .sumr {
    position: relative;
    width: 100%;
}
.review .sumr h1 {
    position: absolute;
    left: 8rem;
    font-size: 1rem;
    top: -0.5rem;
    color: #000;
}
.review .sumr > p {
    position: absolute;
    top: 1.5rem;
    left: 10.2rem;
}
.review .icon {
    position: absolute;
    width: 30%;
    left: 12rem;
    margin-top: 5.5rem;
}
.review .icon > p,
.review .icon > i {
    display: inline-block;
    margin: 0.5rem;
    font-weight: 600;
}

.intro .lstReview .square {
    right: 55%;
    position: absolute;
    bottom: -5rem;
}
.intro .lstReview .square > span {
    color: #f5b38d;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}
.intro .lstReview .square > button {
    padding: 0.3rem 0 0 0;
    background-color: #000;
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1rem;
    color: #f5813e;
}
.intro .lstReview .square>button:hover {
    opacity: 0.8;
    cursor: pointer;
}
