<div class="mt-4">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h2>{{film.title}}</h2>
            <iframe width="768" height="432" src="https://www.youtube.com/embed/{{film.trailer}}" title="Marvel Studios' Thor: Love and Thunder | Official Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>Description</h4>
            <p>{{film.description}}</p>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>