.reviewPage .intro {
    position: relative;
}

.reviewPage .intro h1 {
    color: rgb(245, 149, 46);
    font-size: 2rem;
    margin: 0.5rem 0 0 2.5rem;
}
.reviewPage .review {
    width: 94%;
    margin: 5rem 0 0 2.7rem;
    background-color: rgb(205, 209, 213);
    position: relative;
    height: 75rem;
}

.reviewPage .review .sumr {
    /* position: relative; */
    width: 90%;
}

.reviewPage .review .sumr textarea{
    background-color: rgb(205, 209, 213);
    border: none;
    padding: 1rem 0 0 1rem;
}

.reviewPage .review .sumr .filmName{
    width: 25%;
    margin-left: 5rem;
    font-size: 1rem;
}
.reviewPage .review .sumr .detail{
    width: 60%;
    margin-left: 5rem;
    font-size: 1rem;
    height: 15rem
}


.reviewPage .review .sumr > h1 {
    padding-top: 1rem;
    margin: 0 0 1rem 5rem;
    font-size: 1.5rem;
    color: #000;
}
.reviewPage .review button {
    margin-top: 35rem;
    margin-left: 45%;
    font-size: 1.5rem;
    background-color: chocolate;
    border: none;
    padding: 1rem;
}
.reviewPage .review button:hover {
    background-color: rgb(196, 91, 16);
}
