<div class="container">
    <div class="mt-4">
        <h3> POST TIN TỨC </h3>
        <form method="POST" action="/news/store">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" name="content" placeholder="Enter content">
            </div>
            <div class="form-group">
                <label for="image">Image</label>
                <input type="text" class="form-control" id="image" name="image" placeholder="Enter image">
            </div>
            <div class="form-group">
                <label for="author">Author</label>
                <input type="text" class="form-control" id="author" name="author" placeholder="Enter author">
            </div>
            <button type="submit" class="btn btn-primary">POST TIN TỨC</button>
        </form>

    </div>
</div>
