<div class="mt-4">
    <div class="row">
        <div class="col-log-3">
            <h4>TIN TỨC</h4>
        </div>

        <div class="col-lg-9">
            <h1> {{news.title}} </h1>
            <h2> Tác giả '{{news.author}}'</h2>
            <img src="{{news.image}}">
            <p>{{news.content}}</p>
        </div>
    </div>
</div>