.tablehold {
    margin-top: 10rem;
    display: flex;
    background-color: #ffff;
    margin-bottom: 5rem;
}


.tablehold .left {
    height: 100%;
    width: 5%;
}

.tablehold .right {
    height: 100%;
    width: 5%;
}
.tablehold .stt {
    width: 50px;
    text-align: center;
}
.tablehold .updated,
.tablehold .posted,
.tablehold .del,
.tablehold .update {
    text-align: center;
}
.tablehold .updated,
.tablehold .posted {
    width: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}
table .del {
    cursor: pointer;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

thead:nth-child(even) {
    background-color: #dddddd;
}


thead:nth-child(odd) {
    background-color: #ffff;
}

/*  DELETE FORM*/
.delete {
    width: 600px;
    position: fixed;
    display: flex;
    top: 15rem;
    right: 15rem;
    z-index: 1;
}

.delete .modalContainer {
    position: relative;
    background-color: white;
    padding-top: 1rem;
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    align-items: center;
    border-width: 5px;
    /* Để sdung keyframes modalFadeIn đi chậm ease 0.5s*/
    animation: modalFadeIn ease 0.5s
}

.delete .modalContainer .btn {
    position: absolute;
    right: -2rem;
    top: -1.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    z-index: 1;
}

.delete .modalContainer button:hover {
    cursor: pointer;
    background-color: #e87633;
}

.delete .modalContainer>h2 {
    text-align: center;
    background-color: #f5813e;
    color: white;
    padding: auto;
    width: 100%
}

.delete .modalContainer .head {
    width: 100%;
    height: 3rem;
    background-color: #f5813e;
    top: 0;
    right: 0;
    position: absolute;
    align-items: center;
    letter-spacing: 2px;
}

.delete .modalContainer .head>h2 {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 6.5rem;
    font-size: 1.5rem;
}

.delete .modalContainer .send {
    position: absolute;
    bottom: 4rem;
    left: 2.5rem;

}

.delete .modalContainer .send>button {
    height: 3.5rem;
    width: 10.5rem;
    background-color: #f5813e;
    border-radius: 0.2rem;
    font-size: 20px;
    margin: 1rem;
    border: none;

}

.delete .modalContainer .send>button:hover {
    background-color: #dd6119;
}

.delete .modalContainer .send>button a {
    text-decoration: none;
    color: black;
}