footer{
    background-color: black;
    height: 18rem;
    width: 100%;
}

footer .wrapper{
    display: flex;
}

footer .credit{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: #fff;
}

footer .info {
    background-color: black;
    gap: 3rem;
    width: auto;
    list-style-type: none;
    margin: 0 3rem 0 4rem
} 

footer .info > li{
    padding: 1rem;
    text-align: left;
    color: white
}
