.slider {
    margin: 0 2.5em 0 2.5rem !important;
    height: 30rem;
}
.buttonl {
    position: relative;
    top: 13rem;
    font-size: 3.5rem;
    border-radius: 50%;
    background-color: #f5813e;
    border: none;
    width: 4rem;
    height: 4rem;
}
.buttonl:hover {
    opacity: 0.8;
    cursor: pointer;
}
.buttonr {
    position: relative;
    top: 13rem;
    right: -66.8rem;
    font-size: 3.5rem;
    border-radius: 50%;
    background-color: #f5813e;
    border: none;
    width: 4rem;
    height: 4rem;
}
.buttonr:hover {
    opacity: 0.8;
    cursor: pointer;
}

.buttonl > i {
    position: relative;
    top: 3px;
    left: -3px;
    font-weight: 1000;
}
.buttonr > i {
    position: relative;
    top: 3px;
    left: 3px;
    font-weight: 1000;
}
.slider .dot {
    position: absolute;
    top: 33rem;
    right: 47.5%;
}
.slider .ndot {
    height: 1rem;
    width: 1rem;
    background-color: #ecad88;
    border-radius: 50%;
    display: inline-block;
    margin: 0.15rem 0.2rem 0.2rem 0.2rem ;
}
.slider .sdot {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #e1630f;
    border-radius: 50%;
    display: inline-block;
    margin: 0.1rem;
}

.slider .show{
    padding-left: 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem 0.8rem;
}
