<<<<<<< HEAD
.header {
    background-color: #fc761d;
    width: 100%;
    height: 5.5rem;
    position: relative;
}

.header h1 {
    padding: 1.5rem 1.5rem 2rem 8rem;
    font-size: 2.5rem;
    color: #ecad88;
    display: inline-block;
    text-shadow: 0 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    position: absolute;
}

.header input {
    width: 45%;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #ecad88;
    position: absolute;
    top: 1.7rem;
    right: 10rem;
    padding: 0.5rem 0 0.3rem 1rem;
}

.header>i {
    position: absolute;
    right: 11rem;
    top: 2.2rem;
    font-size: 1.5rem;
    opacity: 0.5;
}
.header .line {
    width: 94.8%;
    color: #f5813e;
    background-color: #f5813e;
    font-size: 0.3rem;
    margin: 0 2.5rem 0 2.5rem;
    position: absolute;
    top: 8.2rem;
    border-radius: 10px;
}

.header>div {
    position: absolute;
    top: 1.4rem;
    right: 2.6rem;
}

.header div .login {
    width: auto;
    font-size: 1rem;
    font-weight: 500;
}

.header div>i {
    font-size: 2rem;
    margin-left: 1.4rem;
}

/* .header div:hover {
    cursor: pointer;
    color: rgb(76, 59, 59);
    
} */

.login:hover {
    cursor: pointer;
    color: rgb(76, 59, 59);
=======
.header {
    background-color: #fc761d;
    width: 100%;
    height: 5.5rem;
    position: relative;
}

.header h1 {
    padding: 1.5rem 1.5rem 2rem 8rem;
    font-size: 2.5rem;
    color: #ecad88;
    display: inline-block;
    text-shadow: 0 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
    position: absolute;
}
.header img {
    width: 8rem;
    height: 6rem;
    display: inline-block;
    position: absolute;
    margin-left: 2rem;
    margin-top: 0.18rem;
}
.header input {
    width: 45%;
    font-size: 1.3rem;
    border-radius: 0.6rem;
    border: none;
    background-color: #ecad88;
    position: absolute;
    top: 1.7rem;
    right: 10rem;
    padding: 0.5rem 0 0.3rem 1rem;
}

.header>i {
    position: absolute;
    right: 11rem;
    top: 2.2rem;
    font-size: 1.5rem;
    opacity: 0.5;
}
.header .line {
    width: 94.8%;
    color: #f5813e;
    background-color: #f5813e;
    font-size: 0.3rem;
    margin: 0 2.5rem 0 2.5rem;
    position: absolute;
    top: 8.2rem;
    border-radius: 10px;
}

.header>div {
    position: absolute;
    top: 1.4rem;
    right: 2.6rem;
}

.header div .login {
    width: auto;
    font-size: 1rem;
    font-weight: 500;
}

.header div>i {
    font-size: 2rem;
    margin-left: 1.4rem;
}

/* .header div:hover {
    cursor: pointer;
    color: rgb(76, 59, 59);
    
} */

.login:hover {
    cursor: pointer;
    color: rgb(76, 59, 59);
>>>>>>> c86749f9f83217cfcf34a3b0148124cdc444b594
}