.reviewPage .intro {
    position: relative;
}

.reviewPage .intro h1 {
    color: rgb(245, 149, 46);
    font-size: 1.8rem;
    margin: 0.5rem 0 0 2.5rem;
}
.reviewPage .content .review {
    width: 94%;
    margin: 5rem 0 0 2.7rem;
    background-color: rgb(205, 209, 213);
    position: relative;
    height: 75rem;
}
.reviewPage .review .ava {
    position: relative;
    display: inline-block;
    width: 50%;
}

.reviewPage .review .ava>img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    left: 2.5rem;

}
.reviewPage .review .ava>p {
    width: 20%;
    text-align: center;
    font-size: 0.8rem;
    position: absolute;
    left: 1.2rem;
    top: 5rem;
}
.reviewPage .review .sumr {
    /* position: relative; */
    width: 90%;
}
.reviewPage h4 {
    color: red;
    font-size: 0.8rem;
    margin-left: 10.2rem;
    margin-bottom: 0.5rem;
}

.reviewPage .review .sumr > h1 {
    margin: 0 0 1rem 10.2rem;
    font-size: 1.5rem;
    color: #000;
}
.reviewPage .review .sumr>h2 {
    margin: 0 0 1.5rem 10.2rem;
    font-size: 1rem;
    color: #000;
}

.reviewPage .review .sumr>p {
    margin: 0 10.2rem 0 10.2rem;
    font-size: 1.5rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
    position: absolute;
}
/* .reviewPage .review .sumr i {
    z-index: 5;
} */
.review .icon {
    font-size: 1.5rem;
    position: absolute;
    bottom: 0;
    left: 43%;
}

.review .icon>p,
.review .icon>i {
    display: inline-block;
    margin: 0.5rem;
    font-weight: 600;
    padding-bottom: 2rem;
}
.review .icon>a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}
.review .icon>i {
    cursor: pointer;
}
.reviewPage .content .lstCmt {
    margin-bottom: 6rem;
    margin-top: 5rem;
}
.reviewPage .content .lstCmt > h3{
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(227, 127, 40);
    color: rgb(227, 127, 40);
    display: inline;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 2.2rem;
}
.cmt {
    width: 94%;
    background-color: rgb(205, 209, 213);
    margin: 2rem 0 1rem 2.2rem;
    padding-bottom: 6rem;
    border-radius: 10px;
}
.reviewPage .writeCmt {
    width: 94%;
    background-color: rgb(205, 209, 213);
    margin: 2rem 0 1rem 2.2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
}
.reviewPage .writeCmt .ava,
.cmt .ava {
    position: relative;
    display: inline-block;
    width: 50%;
}
.reviewPage .writeCmt .ava > img,
.cmt .ava > img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    left: 1.5rem;
}
.reviewPage .writeCmt .ava > p,
.cmt .ava > p {
    position: absolute;
    top: 4.5rem;
    width: 18%;
    text-align: center;
    font-size: 0.8rem;
}
.cmt > p {
    position: relative;
    width: 80%;
    left: 10rem;
}
.reviewPage .writeCmt>textarea {
    position: relative;
    width: 80%;
    left: 10.2rem;
    background-color: rgb(205, 209, 213);
    border-color: rgb(175, 173, 173);
    font-size: 1rem;
    padding: 1rem;
}
.reviewPage .writeCmt > button {
    position: relative;
    top: 1.8rem;
    right: -5.6rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    background-color: rgb(205, 209, 213);
    border-width: 0.5px;
    border-radius: 5px;
}
.reviewPage .writeCmt>button:hover {
    background-color: #000;
    color: #fff;
}

lord-icon {
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 2.5rem;
    left: 47%;
}
lord-icon:hover {
    cursor: pointer;
    opacity: 0.8;
}

.reviewPage .content .option
{   position: relative;
    left: 59rem;
    list-style: none;
    font-size: 1.5rem;
    top: -370px;
    width: 100px;
}
.reviewPage .content .option .choices{
    position: absolute;
    list-style: none;
    font-size: 1rem;
    width: 100px;
    background-color: #fff;
    opacity: 0.8;
    /*Bóng đổ cho subnav*/
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.option .choices > li {
    padding: 0.5rem;
    box-shadow: 0 0 0.5px 0;
}
.option:hover {
    cursor: pointer;
}
.option .choices>li:hover {
    color: #fff;
    background-color: #000;
}
.option li:hover .choices {
    display: block;
}

/*  DELETE FORM*/
.delete {
    width: 100%;
    top: -40rem;
    right: -13rem;
    position: relative;
    display: flex;
    
}

.delete .modalContainer {
    position: relative;
    background-color: white;
    padding-top: 1rem;
    width: 100%;
    max-width: 30rem;
    height: 15rem;
    align-items: center;
    border-width: 5px;
    /* Để sdung keyframes modalFadeIn đi chậm ease 0.5s*/
    animation: modalFadeIn ease 0.5s
}

.delete .modalContainer .btn {
    position: absolute;
    right: -2rem;
    top: -1.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    z-index: 1;
}

.delete .modalContainer button:hover {
    cursor: pointer;
    background-color: #e87633;
}

.delete .modalContainer>h2 {
    text-align: center;
    background-color: #f5813e;
    color: white;
    padding: auto;
    width: 100%
}

.delete .modalContainer .head {
    width: 100%;
    height: 3rem;
    background-color: #f5813e;
    top: 0;
    right: 0;
    position: absolute;
    align-items: center;
    letter-spacing: 2px;
}

.delete .modalContainer .head>h2 {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 5rem;
    font-size: 1.5rem;
}

.delete .modalContainer .send {
    position: absolute;
    bottom: 4rem;
    left: 2.5rem;
   
}

.delete .modalContainer .send>button {
    height: 3.5rem;
    width: 10.5rem;
    background-color: #f5813e;
    border-radius: 0.2rem;
    font-size: 20px;
    margin: 1rem;
    border: none;
    
}
.delete .modalContainer .send>button:hover {
    background-color: #dd6119;
}

.delete .modalContainer .send>button a {
    text-decoration: none;
    color: black;
}


.modal {
    width: 100%;
    top: 8rem;
    right: -25rem;
    position: fixed;
    z-index: 1;
}

.modal .modalContainer {
    position: relative;
    background-color: white;
    padding-top: 1rem;
    width: 100%;
    max-width: 30rem;
    height: 28rem;
    align-items: center;
    border-width: 5px;
    /* Để sdung keyframes modalFadeIn đi chậm ease 0.5s*/
    animation: modalFadeIn ease 0.5s;
}

.modal .modalContainer .btn {
    position: absolute;
    right: -2rem;
    top: -1.2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 1rem;
    z-index: 1;
}

.modal .modalContainer .btn i {
    font-size: 2rem;
    position: absolute;
    top: 0.8rem;
    right: 0.8rem;
}

.modal .modalContainer button:hover {
    cursor: pointer;
    background-color: #e87633;
}

.modal .modalContainer>h2 {
    text-align: center;
    background-color: #f5813e;
    color: white;
    padding: auto;
    width: 100%
}

.modal .modalContainer>p {
    margin: 3rem 0 0.5rem 4rem;
    text-align: left;
    font-size: 1.2rem;
}

.modal .modalContainer>textarea {
    margin: 0rem 4rem 0 4rem;
    padding: 0.8rem;
    font-size: 20px;
    width: min(100% - 7.25rem, 100rem);
    border-width: 0.1rem;
    border-radius: 2%;
}

.modal .modalContainer .head {
    width: 100%;
    height: 3rem;
    background-color: #f5813e;
    top: 0;
    right: 0;
    position: absolute;
    align-items: center;
    letter-spacing: 2px;
}

.modal .modalContainer .head>h2 {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 10rem;
    font-size: 1.5rem;
}

.modal .modalContainer .send {
    position: absolute;
    bottom: 4rem;
    left: 9.8rem;
}

.modal .modalContainer .send>button {
    height: 3.5rem;
    width: 10.5rem;
    background-color: #f5813e;
    border-radius: 0.2rem;
    font-size: 20px;
}

.modal .modalContainer .send>button a {
    text-decoration: none;
    color: black;
}

/* Làm trôi ảnh MODAL CONTAINER*/
/* Tạo ra chuyển động liên tiếp của ảnh tĩnh */
@keyframes modalFadeIn {

    /* modal container sẽ đi từ -100px đến 0px*/
    from {
        opacity: 0;
        transform: translateX(150px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
