.pic {

}
.pic p {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgb(21, 166, 214);
    background-color: rgb(50, 49, 49);
    position: relative;
    width: 230px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    top: -4px;
}
.pic p:hover {
    opacity: 0.9;
    cursor: pointer;
}
.pic img:hover {
    cursor: pointer;
}